@import '../../assets/style.less';

.container {
  background-color: #colors[primary];
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
}

#main-settings-header {
  color: #colors[text-secondary]; 
  font-size: 40px;
  font-weight: bolder;
  margin-left: 10%;
  text-align: left;
  padding-top: 20px;
}

#settings-parent {
  width: 80vw;
  height: 70vh;
  margin-left: 10%;
  display: flex;
}

#settings-container {
  flex: 1;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 70%;
  height: 100%;
  background: #colors[senary];
  border-radius: 20px;
  border: 2px solid #colors[secondary];
  flex-direction: row;
  display: flex;
}

#settings-information-container {
  flex: left;
  width: 70%;
  height: 100%;
  flex-direction: row;
  overflow: hidden; 
}

#settings-button-container {
  margin-left: 2%; 
  margin-bottom: 3%;
  text-align: right;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
  white-space: nowrap;
}

#settings-navi-bar {
  width: 20%;
  height: 100%;
  padding-bottom: 40px;
  background: #colors[senary];
  border-radius: 20px;
  border: 2px solid #colors[secondary];
  color: #colors[text-primary];
  font-size: 24px;
  font-weight: 400;
  overflow: hidden; 
}

#general-settings-button {
  padding: 15px;
  background: #a4cce6;
  border-radius: 20px;
  color: #colors[text-secondary];
  outline: none;
  cursor: default;
  pointer-events: none;
  width: 100%;
  overflow: hidden; 
  white-space: nowrap;
  border: 0px;
}

#delete-account-button {
  padding: 15px;
  width: 100%;
  background: #colors[senary];
  color: #E93333;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  overflow: hidden; 
  white-space: nowrap;
  border: 0px;

  &:hover {
    background: #E93333;
    color: #colors[senary];
  }
}

#settings-header {
  color: #colors[text-primary];
  font-size: 24px;
  font-weight: 600;
  margin-left: 2%;
  margin-bottom: 1%;
  text-align: left;
}

#display-account-info {
  color: #colors[text-primary];
  font-size: 22px;
  font-weight: 400;
  margin-left: 2%; 
  margin-bottom: 5%;
  text-align: left;
  display: flex;
  align-items: center;
}

#display-account-sensitive {
  color: #colors[text-primary];
  font-size: 18px;
  font-weight: 400;
  margin-left: 5%; 
  margin-bottom: 5%;
  text-align: left;
  overflow: hidden; 
}

#settings-button-1, #settings-button-2, #settings-button-3, #settings-button-4 {
  background: #colors[quaternary];
  display: block;
  border: none;
  padding: 10px 25px;
  outline: none;
  color: #colors[text-secondary];
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden; 
  white-space: nowrap;

  &:hover {
    background: #colors[quinary];
    background: #CBA302;
  }
}

#settings-button-1 {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: 90px;
  width: 100%
}
#settings-button-2 {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  position: relative;
  top: 100px
}
#settings-button-3 {
  position: relative;
  top: 130px;
  left: 25px;
}
#settings-button-4 {
  position: relative;
  top: 140px;
  left: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
#settings-alreadyMerged {
  position: relative;
  top: 180px;
  left: 0px;


  cursor: pointer;
  display: block;
  border: none;
  padding: 10px 25px;
  outline: none;
  color: grey;
  font-size: 15px;
  font-weight: 400;
  border-radius: 10px;
  overflow: hidden; 
  white-space: nowrap;

}

#form-container {
  background-color: #colors[primary];
  min-width: 100vw;
  text-align: center;
}

#wrapper {
  margin: 4vh auto 1vh;
  display: inline-block;
}

#form-divider {
  height: 150px;
  width: 3px;
  border-radius: 5px;
  background-color: #colors[tertiary];
  margin: -30px 20px;
  display: inline-block;
}

#box {
  width: 300px;
  padding: 40px 20px;
  background-color: #colors[tertiary];
  text-align: center;
  border-radius: 15px;
  border: 4px solid;
  border-color: #colors[secondary];
}

#select-lable {
  color: #colors[text-primary];
  font-weight: 550;
  font-size: 1.1em;
}

#box select {
  display: block;
  background: none;
  margin: 5px auto 0px;
  border: 2px solid;
  border-color: #colors[secondary];
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #colors[text-primary];
  border-radius: 8px;
  transition: 0.25s;
}

#box select:focus {
  width: 220px;
}

#box input[type='button'] {
  background: darken(#colors[tertiary], 30%);
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid;
  border-color: #colors[secondary];
  padding: 14px 40px;
  outline: none;
  color: #colors[text-secondary];
  font-size: 1.5em;
  font-weight: 550;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: lighten(#colors[secondary], 20%);
  }

  position: relative;
  bottom: -65px;
}

#login-logo {
  width: 250px;
  height: auto;
  position: relative;
  bottom: -10px;
}

#link-container {
  background-color: #colors[primary];
  color: #colors[text-secondary];
  font-size: 1.4em;
  text-decoration: underline;
  text-align: center;
  position: relative;
  margin: auto;
}

#link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #colors[text-secondary];
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #colors[secondary];
    cursor: pointer;
    text-decoration: none;
  }

  margin: 0 15px;
  display: inline-block;
  font-size: 3vh;
}

#login-button {
  background: #colors[quaternary];
  width: 20%;
  display: block;
  margin: 20px auto 0px;
  border: none;
  padding: 14px 40px;
  outline: none;
  color: #colors[text-primary];
  font-size: 1.5em;
  font-weight: 550;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.377);

  &:hover {
    width: 21%;
    background: #colors[quinary];
  }
}

#disabled-option {
  opacity: 0.6;
  background-color: darken(#colors[tertiary], 10%);
}

#box-auth-fail {
  width: 300px;
  padding: 40px 20px;
  text-align: center;
  border-radius: 15px;
  border: 4px solid;
  border-color: #colors[secondary];
  background-color: #ffccc7 !important;
}

#box-auth-fail select {
  display: block;
  background: none;
  margin: 5px auto 0px;
  border: 2px solid;
  border-color: #colors[secondary];
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #colors[text-primary];
  border-radius: 24px;
  transition: 0.25s;
}

#box-auth-fail select:focus {
  width: 220px;
}

#box-auth-fail input[type='button'] {
  background: darken(#colors[tertiary], 30%);
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 2px solid;
  border-color: #colors[secondary];
  padding: 14px 40px;
  outline: none;
  color: #colors[text-secondary];
  font-size: 1.5em;
  font-weight: 550;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: lighten(#colors[secondary], 20%);
  }

  position: relative;
  bottom: -65px;
}
